/*
FONTS
font-family: 'Cormorant Garamond', serif;
font-family: 'Homemade Apple', cursive;
font-family: 'Major Mono Display', monospace;
//
COLORS
#e0d5cc light-gray
#f6c6b7 light-pink
#382012  black
#d7b2b5 silver
#76785c dimgray
#b2817f rosy-brown
*/

body {
  color: #382012;
  background-image: url(https://wallpaper.dog/large/10867112.jpg);
  background-repeat: stretch;
}

.main {
  text-align: center;
  background-color: #f6c6b7;
  padding: 20px 100px;
  margin-top: 40px;
  border-radius: 20px;
}

h1 {
  font-family: "Major Mono Display", monospace;
}
h2 {
  font-weight: 200;
  font-size: 25px;
}
h3 {
  font-family: "Homemade Apple", cursive;
}

p {
  font-family: "Cormorant Garamond", serif;
}
